.chem-element
{
	box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
	padding: 3px;
	margin: 3px;
	width: 111px;
	cursor: pointer;
	background: white;
	transition: transform .3s ease;
}

.chem-element.inspecting
{
	transition: transform 0s ease;
}

.chem-element.selected
{
	transform: scale(0, 0, 2);
}

.chem-element .element-symbol
{
	font-size: 22px;
	font-weight: bold;
	text-transform: capitalize;
}

.chem-element .element-chemical-group {
	text-transform: capitalize;
}

.element-atomic-number {
	font-size: 18px;
	font-weight: bold;
}

.chem-element .data-row
{
	display: flex;
}

.chem-element .data-row .element-atomic-mass
{
	margin-left: auto;
}

.chem-element.dark
{
	background: #222;
	color: white;
	box-shadow: 0 0 0 1px rgb(255 255 255 / 25%);
}

.chem-element.nonmetal
{
	background: #ffffc5;
}

.chem-element.noble-gas
{
	background: #ffe6c0;
}

.chem-element.halogen
{
	background: #ffffc5;
}

.chem-element.alkali-metal
{
	background: #ffc3c3;
}

.chem-element.alkaline-earth-metal
{
	background: #d5d5ff;
}

.chem-element.metalloid
{
	background: #e0edbc;
}

.chem-element.transition-metal
{
	background: #bcddff;
}

.chem-element.post-transition-metal
{
	background: #bfffbf;
}

.chem-element.lanthanide
{
	background: #b3ffff;
}

.chem-element.actinide
{
	background: #c7ffed;
}

