.chem-element-large
{
	box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
	display: flex;
	width: 150px;
	padding: 16px;
	flex-direction: column;
	flex-shrink: 0;
}

.chem-element-large .data-row
{
	display: flex;
}

.chem-element-large .data-row *:nth-child(2)
{
	margin-left: auto;
}

.chem-element-large .element-symbol
{
	font-size: 64px;
	font-weight: bold;
}
