* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.chem-element.nonmetal,
.chem-element-large.nonmetal
{
	background: #ffffc5;
}

.chem-element.noble-gas,
.chem-element-large.noble-gas
{
	background: #ffe6c0;
}

.chem-element.halogen,
.chem-element-large.halogen
{
	background: #ffffc5;
}

.chem-element.alkali-metal,
.chem-element-large.alkali-metal
{
	background: #ffc3c3;
}

.chem-element.alkaline-earth-metal,
.chem-element-large.alkaline-earth-metal
{
	background: #d5d5ff;
}

.chem-element.metalloid,
.chem-element-large.metalloid
{
	background: #e0edbc;
}

.chem-element.transition-metal,
.chem-element-large.transition-metal
{
	background: #bcddff;
}

.chem-element.post-transition-metal,
.chem-element-large.post-transition-metal
{
	background: #bfffbf;
}

.chem-element.lanthanide,
.chem-element-large.lanthanide
{
	background: #b3ffff;
}

.chem-element.actinide,
.chem-element-large.actinide
{
	background: #c7ffed;
}

.periodic-table-app
{
  margin: 128px 0 0 0;
}
